.App {
  text-align: center;
}

/* header
-----------------------------------*/
header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../public/images/header-background.jpg) no-repeat top center;
  background-size: cover !important;
 -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

.home-banner {
  margin-top: 100px;
}

/* navigation
-----------------------------------*/

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.nav-background {
  background-color: #161415;
  transition: background-color 0.25s linear;
}

.navHidden {
  opacity: 0;
  transition: 0.25s;
}

/* nav-wrap */
#nav-wrap {
  
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque { background-color: #333; }

.stickBottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
 text-decoration: none;
  text-align: left;
  color: #fff;

 -webkit-transition: color .2s ease-in-out;
 -moz-transition: color .2s ease-in-out;
 -o-transition: color .2s ease-in-out;
 -ms-transition: color .2s ease-in-out;
 transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; animation-name: current; animation-duration: 2s;}


/* .btn {
  color: #fff;
  cursor: pointer;
   display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
} */

.btn a::before,
.btn a::after {
  display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}


.btn a::before {
  margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.btn a:hover::before {
  transform: scaleY(0);
}

.btn a::after {
  margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.btn a:hover::before,
.btn a:hover::after,
.btn a:focus::before,
.btn a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/* Projects
---------------------------------------------*/
#projects {
  background: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  height: 800px;
}

#projects h1 {
  font: 15px/24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95A3A3;
}

#projects-wrapper {
  margin-bottom: 36px; 
}
.projects-wrapper > ul { 
  display: none;
  height: 800px;
  /* gap: 50px; */
}

.projects-wrapper-animate > ul { 
  margin: 0;
  /* text-align: center; */

  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  padding-left: 0;
  animation: slidein 5s;
  animation-fill-mode: forwards;
 
  transition-timing-function: ease-in;
  /* gap: 50px; */
}

.project-image {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.item-wrap {
  display: inline-grid;
  /* padding: 50px; */
  text-align: center;
  border: solid;
  border-radius: 1rem;
  
} 

@keyframes slidein {
  from {
    transform: translateX(-120%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Skills
-----------------------------------*/
#skills {
  text-align: center;
  justify-content: center;
  
  display: flex;
 
 padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  height: 800px;
}

.skills-header {
  font: 15px/24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95A3A3;
}

.bar-header {
  text-align: left;
  padding-left: 10px;
}


.progress {
  background: black;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
   border: 1px;
  border-color: white;
}

.progress-html {
  animation: html 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
   border: 1px;
  border-color: white;
}

@keyframes html {
  0% { width: 0; }
  100% { width: 80%; }
}

.progress-css {
  animation: css 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
   border: 1px;
  border-color: white;
}

@keyframes css{
  0% { width: 0; }
  100% { width: 85%; }
}

.progress-javascript {
  animation: javascript 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
   border: 1px;
  border-color: white;
}

@keyframes javascript{
  0% { width: 0; }
  100% { width: 65%; }
}

.progress-reactjs {
  animation: reactjs 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
   border: 1px;
  border-color: white;
}

@keyframes reactjs{
  0% { width: 0; }
  100% { width: 70%; }
}

.progress-reactnative {
  animation: reactnative 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
   border: 1px;
  border-color: white;
}

@keyframes reactnative{
  0% { width: 0; }
  100% { width: 55%; }
}

.progress-angularjs {
  animation: angularjs 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
   border: 1px;
  border-color: white;
}

@keyframes angularjs{
  0% { width: 0; }
  100% { width: 65%; }
}